


<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<style>
body
{
    background-image: url("https://wallpapercave.com/wp/wp10068422.jpg");
    background-size: cover;
}
.pd{
padding-bottom:45%;}
}

.h2{
    color: red;
}


</style>
</head>
<body>

<br>
<center><b class="pd"><font color="white" size="60" font-family="Comic Sans MS" >Traffic volume estimation</font></b></center><br><br>
<div>
<br>
<center>
<h2>{{result}} </h3> 
</center>
</div>
</body>
</html>
